{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<style>
	.spinnerouter{
		background:rgb(0,0,0,0.5);position:fixed;width: 100%;height: 100%;z-index:99999;
		top:0px;display: none;}
	.loader {
		border: 16px solid #f3f3f3; /* Light grey */
		border-top: 16px solid rgb(60, 67, 164); /* Blue */
		border-radius: 50%;
		width: 120px;
		height: 120px;
		animation: spin 1s linear infinite;
		position: absolute;
		left:45%;
		top:45%;
		z-index:999999;
	}
	.spinner-border{
		height:25px;width:25px;border:5px solid white;border-top:5px solid #f0ad4e;
		animation: spin 1s linear infinite;border-radius:50%;margin:auto;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	table,td{
	color:black !important;
	}


</style>
<div class="spinnerouter">
	<div class="loader">

	</div>
</div>
{% if login %}
<p class="alert alert-warning">{{login}}</p>
{% else %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Your Shopping Cart</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if messages %}
				{% for i in messages %}
					<div class="alert alert-{{i.tags}} status">{{i}}</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
		{% if size is 0 %}
		<h2>❌ Your Shopping Cart is Empty</h2>
		{% else %}
		<h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span id="csize">{{size}}</span> Products</h3>
		<div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Cart ID</th>	
						<th>Product</th>
						<th>Quantity</th>
						<th>Product Name</th>
						<th>Product Price</th>
						<th>Total</th>
						<th>Remove</th>
					</tr>
				</thead>
				{% for i in cart %}
				<tr class="rem1 c-{{i.id}}">
					<td class="invert">{{i.id}}</td>
					<td class="invert-image"><a href="{% url 'mysite:single'%}?id={{i.p_id}}"><img src="/media/{{i.photo}}" alt=" " style="height:100px;width:100px;" class="img-responsive" /></a></td>
					<td class="invert">
							<div class="quantity"> 
							<div class="quantity-select">                           
								<div class="entry value-minus" onclick="addNum('{{i.id}}','sub')">&nbsp;</div>
								<div class="entry"><input type="number" class="num{{i.id}}" value="{{i.quantity}}" style="width:50px;"></div>
								<div class="entry value-plus active" onclick="addNum('{{i.id}}','add')">&nbsp;</div>
							</div>
						</div>
					</td>
					<td class="invert">{{i.product_name}}</td>
					<td class="invert">&#8377; <span class="cartsaleprice{{i.id}}">{{i.price}}</span><br/> <span class="badge badge-pill badge-success">{{i.offer}}% discount</span></td>
					<td class="invert">&#8377; <span class="cartprice{{i.id}}" id="total">{{i.totalprice}}</span></td>
					<td class="invert">
						<div class="rem">
							<div class="close1" onclick="removeCart('{{i.id}}')"> </div>
						</div>
					</td>
				</tr>
				{% endfor %}	
			</table>
		</div>
		<div class="row">
			<div class="col-md-7">
				<div class="checkout-left-basket animated wow slideInLeft d-block" data-wow-delay=".5s" style="width:70%;padding-top:20px;">
					<h4>Continue to basket</h4>
					<ul>
						<li>Item Total <i>-</i> <span id="itotal"> </span></li>
						<li>Total <i>-</i> <span id="totalprice"> </span></li>
						<li>Total Service Charges <i>-</i> <span>Free</span></li>
						<li>Total <i>-</i> <span id="grand"></span></li>
					</ul>
				</div>
				<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
					<a id="ptb"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
				</div>
			</div>
			<div class="col-md-5">
				<div style='padding:10px; display:none;' id='delivery_address'>
					<h4>Enter Delivery Details</h4>
					<hr/>	
						<div class='form-group'>
							<input type="text" class='form-control' placeholder='Enter Name' id='dname' value="{{user.first_name}} {{user.last_name}}" required>
						</div>
						<div class='form-group'>
							<input type="email" class='form-control' placeholder='Enter Email Address' id='demail' value="{{user.email}}" required>
						</div>
						<div class='form-group'>
							<input type="number" class='form-control' placeholder='Enter Mobile Number' id='dnumber' value="{{cust.number}}" required>
						</div>
						<div class='form-group'>
							<textarea name="daddress" id="daddress" class='form-control' placeholder='Enter Full Address.. eg. Apartment no., city, pin code' required>{{cust.address}}</textarea>
						</div>
						<div class='form-group'>
							<input type="hidden" name="dgrand" id='cartgrandtotal'>
							<input type="hidden" name="ditems" id='cartitems' value='{{cids}}'>
							<button class='btn btn-success btn-block' onclick="pay()">Proceed To Pay <span id='ptp'></span> </button>
						</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<script>
function addNum(id,action){
    $('.spinnerouter').show();
    let v = $('.num'+id).val();
    let updateQuant = 0;
    if(action=='add'){
        updateQuant = parseInt(v)+1;    
    }else{
        updateQuant = parseInt(v)-1;    
    }
    setTimeout(function(){
        $.ajax({
            url:'{% url "mysite:cart" %}',
            type:'get',
            data:{q:updateQuant,id:id},
            success:function(data){
                $('.num'+id).val(data.quantity);
                $('.cartsaleprice'+id).html(data.sale_price);
                $('.cartprice'+id).html(data.sale_price*data.quantity);
                $('.spinnerouter').hide();
                $('#csize').html(data.cart_size);
                grandTotal();

                // #Remove Items
                if(data.quantity==0){
					removeCart(id);
            }              
            }
        });
	},1000);
}

function removeCart(id){
	$.ajax({
		url:'{% url "mysite:removecart" %}',
		data:{removeid:id},
		success:function(data){
			$('.c-'+id).hide();
			$('.status').html(data.msz);
			$('#csize').html(data.cart_size);
		}
	});
}
</script>
<script>
	let email;
function grandTotal(){
	$.ajax({
		url:'{% url "mysite:grandTotal" %}',
		success:function(data){
			$('#itotal').html(data.quantity);
			$('#totalprice').html('&#8377;'+data.grand_total);
			$('#grand').html('&#8377;'+data.grand_total);
			$('#email').val(data.email)
			$('#cartitems').val(data.cids)
			$('#cartgrandtotal').val(data.grand_total)
			$('#itemnum').val(data.quantity);
			$('#ptp').html('&#8377;'+data.grand_total);
			}
	});
}
$(function(){
	grandTotal();
})
</script>
<script>
	$('#ptb').click(function(){
	$(this).html('<div class="spinner-border"></div>');
	setTimeout(function(){
		$('#delivery_address').slideDown(1000);
		$('#ptb').hide();
	},1500);
});
</script>

<script>
	function pay(){
		let dname = $('#dname').val();
		let demail = $('#demail').val();
		let daddr =$('#daddress').val();
		let dcon = $('#dnumber').val();
		let amount = $('#cartgrandtotal').val();
		let it = $('#cartitems').val();
		
		$.ajax({
			url:'{% url "mysite:get_order"%}',
			type:'get',
			data:{'grandtotal':amount,'dname':dname,'demail':demail,'daddress':daddr,'dnumber':dcon,'items':it},
			success:function(data){
				let oid = parseInt(data)+Math.round(Math.random()*(9999-1000)+1000)
				url = 'http://sachtechsolution.pe.hu/easypayment/payment.php?mid=LuVuHX15432997970050&amount='+amount+'&adminemail=rimpyj07@gmail.com&adminmobile=8699125084&mkey=M32cgC4plzbvdh5e&orderid='+data+'o'+oid+'&returnurl=http://127.0.0.1:8000{% url "mysite:success_payment" %}';
				window.location = url; 
			}
		})
		
	}
</script>
<!-- //checkout -->
{% endif %}
{% endblock %}