{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
.banner{
	background:url("{% static 'images/12.jpg'%}") no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:700px;
}
.collections-bottom-grids{
	background:url("{% static 'images/fitness.jpeg'%}") no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:520px;
	padding:8em 2em 2em;
}
</style>
{% endblock %}
{% block body %}
{% if status %}
	<script>
	alert('{{status}}');
	</script>
{% endif %}
<!-- banner -->
<div class="banner">
		<div class="container">
			<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
				<h3>Stay Fit!!</h3>
				<h4>Up to <span>{{max.t_offer}}% <i>Off/-</i></span>
				on <br/>All products</h4>
				<div class="wmuSlider example1" style="margin-top:50px;">
					<div class="wmuSliderWrapper">
						{% for i in allcat %}
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>
										{% for j in i %}
											<span>{{j.category_name}}+</span>
										{% endfor %}
									</p>
								</div>
							</div>
						</article>
						{% endfor %}
						
					</div>
				</div>
					<script src="{% static 'js/jquery.wmuSlider.js'%}"></script> 
					<script>
						$('.example1').wmuSlider();         
					</script> 
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container"> 
			<div class="banner-bottom-grids">
				<div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<div class="grid">
						<figure class="effect-julia">
							<img src="{% static 'images/4.jpg'%}" alt=" " class="img-responsive" />
							<figcaption>
								<h3>Best <span>FitNes</span>Store<i> in online shopping</i></h3>
								<div>
									<p>Quality Products</p>
									<p>High Offers</p>
									<p>100%  Customer satisfaction</p>
									<p>Free Shipping in all areas</p>
									<p>Latest products </p>
								</div>
							</figcaption>			
						</figure>
					</div>
				</div>
				<div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
						<div class="banner-bottom-grid-left-grid1">
							<img src="{% static 'images/2.jpg'%}" alt=" " class="img-responsive" />
						</div>
						<div class="banner-bottom-grid-left1-pos">
							<p>Discount {{max.t_offer}}%</p>
						</div>
					</div>
					<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
						<div class="banner-bottom-grid-left-grid1">
							<img src="{% static 'images/5.jpg'%}" class="img-responsive" />
						</div>
						<div class="banner-bottom-grid-left1-position">
							<div class="banner-bottom-grid-left1-pos1">
								<p>Latest New Collections</p>
							</div>
						</div>
					</div>
				</div>
				<div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<div class="banner-bottom-grid-left-grid grid-left-grid1">
						<div class="banner-bottom-grid-left-grid1">
							<img src="/media/{{max.p_image}}" alt=" " class="img-responsive" />
						</div>
						<div class="grid-left-grid1-pos" style="background:rgba(0,0,0,0.5);color:white;padding:10px;">
							<small>Discount {{max.p_offer}}% on
								<a href="{% url 'mysite:single'%}?id={{max.p_id}}" style="color:white;"><ins>{{max.p_name}}</ins></a>
							</small>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- collections -->
	<div class="new-collections">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">New Collections</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s">Here are very latest products,Take it and Stay fit and healty.
				These are of mixed categories.
			</p>
			<div class="new-collections-grids">
				{% for i in recent %}
				<div class="col-md-4 new-collections-grid" style="margin-top:50px;">
					<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="new-collections-grid1-image">
							<a href="{% url 'mysite:single'%}?id={{i.id}}" class="product-image"><img src="/media/{{i.photo}}" class="img-responsive" style="height:250px;"/></a>
							<div class="new-collections-grid1-image-pos">
								<a href="{% url 'mysite:single'%}?id={{i.id}}">Quick View</a>
							</div>
						</div>
						<h4><a href="{% url 'mysite:single'%}?id={{i.id}}">{{i.product_name}}</a></h4>
						<p>{{i.product_category.category_name}}</p>
						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<form action="{% url 'mysite:cart'%}" method="post">
								{% csrf_token %}
								<input type="hidden" name="item_id" value="{{i.id}}">
								<input type="hidden" name="amount" value="{{i.sale_price}}">
								<input type="hidden" name="add" value="1">
								<p><i>&#8377;{{i.price}}</i> <span class="item_price">&#8377;{{i.sale_price}}</span><button class="item_add btn btn-warning" href="#">add to cart </button></p>
							</form>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //collections -->
<!-- new-timer -->
	<div class="timer">
		<div class="container">
			<div class="timer-grids">
				<div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<h3><a href="{% url 'mysite:single'%}?id={{i.id}}">{{max.p_name}}</a></h3>
					<div class="rating">
						<div class="rating-left">
							<span>{{max.p_cat}}</span>
						</div>
						<div class="rating-left">
							|<span>{{max.p_brand}}</span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
						<p><i>&#8377;{{max.p_price}}</i> <span class="item_price">&#8377;{{max.sale_price}}</span></p>
						<h4>
							<ul>
								{% for i in max.p_desc %}
								<li>{{i}}</li>
								{% endfor %}
							</ul>
						</h4>
						<form action="{% url 'mysite:cart'%}" method="post">
							{% csrf_token %}
							<input type="hidden" name="item_id" value="{{max.p_id}}">
							<input type="hidden" name="amount" value="{{max.sale_price}}">
							<input type="hidden" name="add" value="1">
							<p><i>&#8377;{{max.p_price}}</i> <span class="item_price">&#8377;{{max.sale_price}}</span><button class="item_add btn btn-warning" href="#">add to cart </button></p>
						</form>
						
					</div>
					<div id="counter"> </div>
					<script src="{% static 'js/jquery.countdown.js'%}"></script>
					<script src="{% static 'js/script.js'%}"></script>
				</div>
				<div class="col-md-4 timer-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<div class="timer-grid-right1">
						<img src="/media/{{max.p_image}}" alt=" " class="img-responsive" />
						<div class="timer-grid-right-pos">
							<h4>Special Offer</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //new-timer -->
<!-- collections-bottom -->
	<div class="collections-bottom">
		<div class="container">
			<div class="collections-bottom-grids">
				<div class="collections-bottom-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>{{max.t_offer}}% Offer For <span style="color:#ffc229;">{{max.p_cat}}'s</span></h3>
				</div>
			</div>
		</div>
	</div>
<!-- //collections-bottom -->

{% endblock %}