{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Products</li>
		</ol>
	</div>
</div>
<div class="products">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
				<h3>Filter By Price</h3>
				<ul class="dropdown-menu1">
						<li><a href="">								               
						<div id="slider-range"></div>							
						<input type="text" id="amount" style="border: 0" />
						</a></li>	
				</ul>
					
					<script type="text/javascript" src="{% static 'js/jquery-ui.min.js'%}"></script>
					<!---->
			</div>
			<div class="categories animated wow slideInUp" data-wow-delay=".5s">
				<h3>Categories</h3>
				<ul class="cate">
					{% for i in allcat %}
					<li><a href="">{{i.0}}</a></li>
						<ul>
							{% for j in i %}
							<li><a href="{% url 'mysite:showproducts' %}?searchcat={{i.0}}&&scat={{j.category_name}}">{{j.category_name}}</a></li>
							{% endfor %}
						</ul>
					
					{% endfor %}
				</ul>
			</div>
			<div class="new-products animated wow slideInUp" data-wow-delay=".5s">
				<h3>New Products</h3>
				<div class="new-products-grids">
					{% for i in recent3 %}
					<div class="new-products-grid">
						<div class="new-products-grid-left">
							<a href="{% url 'mysite:single'%}?id={{i.id}}"><img src="/media/{{i.photo}}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="new-products-grid-right">
							<h4><a href="{% url 'mysite:single'%}?id={{i.id}}">{{i.product_name}}</a></h4>
							<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
								<form action="{% url 'mysite:cart'%}" method="post">
									{% csrf_token %}
									<input type="hidden" name="item_id" value="{{i.id}}">
									<input type="hidden" name="amount" value="{{i.sale_price}}">
									<input type="hidden" name="add" value="1">
									<p><del><i>&#8377;{{i.price}}</i></del> <span class="item_price">&#8377;{{i.sale_price}}</span><button class="item_add btn btn-warning">add to cart </button></p>
								</form>

							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="men-position animated wow slideInUp" data-wow-delay=".5s">
				<a href="{% url 'mysite:single'%}?id={{i.id}}"><img src="/media/{{max.p_image}}" alt=" " class="img-responsive" /></a>
				<div class="men-position-pos" style="background: rgba(0,0,0,0.5);">
					<h4>{{max.p_cat}}</h4>
					<h5><span>{{max.p_offer}}%</span> Flat Discount</h5>
				</div>
			</div>
		</div>
		<div class="col-md-8 products-right">
			<div class="products-right-grid">
				<!-- <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
					<div class="sorting">
						<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
							<option value="null">Default sorting</option>
							<option value="null">Sort by Price Low to High</option> 
							<option value="null">Sort by Price High to Low</option>					
							<option value="null">Sort by Oldest first</option>								
						</select>
					</div>
					<div class="clearfix"> </div>
				</div> -->
				<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
					<img src="{% static 'images/download.jpeg'%}" style="height:400px;width:100%;" class="img-responsive" />
					<div class="products-right-grids-position1">
						<h4>2019 New Collection</h4>
						<p>Here is all new collection of year 2019. These are High quality and featured products.
							All types of products including Health & Wealth, Fitness, Home Gym etc. 
						</p>
					</div>
				</div>
			</div>
			<div class="products-right-grids-bottom">
				<h2>Total {{total}} Products</h2>
				{% for i in p %}
				<div class="col-md-4 products-right-grids-bottom-grid">
					<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="new-collections-grid1-image">
							<a href="{% url 'mysite:single'%}?id={{i.id}}" class="product-image"><img src="/media/{{i.photo}}" style="height:200px;width:100%;" alt=" " class="img-responsive"></a>
							<div class="new-collections-grid1-image-pos products-right-grids-pos">
								<a href="{% url 'mysite:single'%}?id={{i.id}}">Quick View</a>
							</div>
						</div>
						<h4><a href="{% url 'mysite:single'%}?id={{i.id}}"  style="height:50px;overflow:hidden;">{{i.product_name}}</a></h4>
						<p>{{i.product_category.category_name}}| {{i.brand}}</p>
						<div class="simpleCart_shelfItem products-right-grid1-add-cart">
							<form action="{% url 'mysite:cart'%}" method="post">
								{% csrf_token %}
								<input type="hidden" name="item_id" value="{{i.id}}">
								<input type="hidden" name="amount" value="{{i.sale_price}}">
								<input type="hidden" name="add" value="1">
								<p><i>&#8377;{{i.price}}</i> <span class="item_price">&#8377;{{i.sale_price}}</span><button class="btn btn-warning item_add" >add to cart </button></p>
							</form>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //breadcrumbs -->
{% endblock %}