{% extends "base.html"%}
{% block body %}
{% if status %}
<script>
	alert('{{status}}');
</script>
{% endif %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Register Page</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s">In order to shopping with FitNess Store, Kindly fill details
				below and get registred with Us!!.</p>
			<div class="login-form-grids">
				<h5 class="animated wow slideInUp" data-wow-delay=".5s">profile information</h5>
				<form class="animated wow slideInUp" data-wow-delay=".5s" enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<select name="subtitle">
						<option value="Mr.">Male</option>
						<option value="Miss.">Female</option>
					</select>
					<input type="text" placeholder="First Name..." required=" " name="first">
					<input type="text" placeholder="Last Name..." required=" "  name="last">
				<div class="register-check-box animated wow slideInUp" data-wow-delay=".5s">
					<input type="text" style="margin-top:10px;" placeholder="City ..." required=" "  name="city">
					<div class="check">
						<label class="checkbox"><input type="file" name="profile"><i> </i>Add Profile Picture</label>
					</div>
				</div>
				<h6 class="animated wow slideInUp" data-wow-delay=".5s">Login information</h6>
					<input type="email" placeholder="Email Address" required=" " name="email">
					<input type="password" placeholder="Password" required=" " onkeyup="checkPass()" id="pass" name="password">
					<input type="password" placeholder="Password Confirmation" onkeyup="checkPass()" id="cpass" name="cpassword" required=" " >
					<div class="register-check-box">
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
						</div>
					</div>
					<input type="submit" value="Register" id="register">
				</form>
			</div>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href="{% url 'index'%}">Home</a>
			</div>
		</div>
	</div>
	<script>
	function checkPass(){
		let p = $('#pass').val();
		let cp = $('#cpass').val();
		if(p==cp){
			$('#pass').css('border','1px solid green');
			$('#cpass').css('border','1px solid green');
		}else{
			$('#pass').css('border','1px solid red');
			$('#cpass').css('border','1px solid red');
		}
	}

	</script>
<!-- //register -->
{% endblock %}